.date {
  padding-top: 20px;
  .multiple-date-picker {
    .picker-top-row {
      font-size: 30px;
    }
    .picker-days-week-row {
      font-size: 18px;
      padding-bottom: 5px;
    }
    .picker-days-row {
      .picker-day {
        line-height: 100px;
      }
      .today {
        color: @teacher_base;
      }
      .picker-selected {
        background-color: @shallow_base_color;
      }
    }
  }
}
