.date {
  padding-top: 20px;
  .multiple-date-picker {
    .picker-top-row {
      font-size: 30px;
    }
    .picker-days-week-row {
      font-size: 18px;
      padding-bottom: 5px;
    }
    .picker-days-row {
      border-top: 1px solid #eee;
      border-left: 1px solid #eee;
      .picker-day {
        height: 100px;
        text-align: right;
        padding-right: 20px;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
      }
      .today {
        color: @teacher_base;
      }
      .picker-selected {
        background-color: @shallow_base_color;
      }
    }
  }
}
