.display-user-status {
  text-align: left;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  p {
    font-size: 30px;
    & + p  {
      margin-top: 30px;
    }
  }
}
