* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: inherit !important;
}

.container {
  .clearfix();
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  overflow-x: hidden;
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both
  }
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.container-wrap {
  width: 100%;
  min-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  .clearfix();
  margin-left: -15px;
  margin-right: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}

.default-list {
  list-style-type: disc;
}
.upper-alpha-list {
  list-style-type: upper-alpha;
}
.decimal-list {
  list-style-type: decimal;
}
.lower-alpha-list {
  list-style-type: lower-alpha;
}

.col-wrap {
  position: relative;
}

.col-1 {
  .col-wrap();
  width: (1 / 12) * 100%;
}
.col-2 {
  .col-wrap();
  width: (2 / 12) * 100%;
}
.col-3 {
  .col-wrap();
  width: (3 / 12) * 100%;
}
.col-4 {
  .col-wrap();
  width: (4 / 12) * 100%;
}
.col-5 {
  .col-wrap();
  width: (5 / 12) * 100%;
}
.col-6 {
  .col-wrap();
  width: (6 / 12) * 100%;
}
.col-7 {
  .col-wrap();
  width: (7 / 12) * 100%;
}
.col-8 {
  .col-wrap();
  width: (8 / 12) * 100%;
}
.col-9 {
  .col-wrap();
  width: (9 / 12) * 100%;
}
.col-10 {
  .col-wrap();
  width: (10 / 12) * 100%;
}
.col-11 {
  .col-wrap();
  width: (11 / 12) * 100%;
}
.col-12 {
  .col-wrap();
  width: 100%;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}
.right {
  float: right;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-size: 16px;
  line-height: 24px;
  width: 256px;
  height: 48px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(224, 224, 224);
}

body {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 60px;
}

.site-header {
  .appbar-box-shadow();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: @teacher_base;
  .header-item {
    display: inline-block;
    font-size: 16px;
    position: relative;
    &:hover {
      .nav-border-line {
        display: inline-block;;
      }
    }
    & + .header-item {
      margin-left: 20px;
    }
    .nav-border-line {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 2px solid #fff;
    }
    a {
      display: inline-block;
      padding: 18px 0;
      color: #fff;
    }
    .fa {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.dashboard-dropdown {
  .fa {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.header-item-right {
  float: right;
  display: inline-block;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.header-item-right {
  li {
    display: inline-block;
    a {
      text-decoration: none;
      color: #fff;
      padding: 20px;
      display: inline-block;
      &:hover {
        color: @teacher_base;
        background-color: #fff;
      }
    }
  }
}

.button {
  padding: 6px 26px !important;
  border: 1px solid #fff !important;
  border-radius: 4px !important;
}

.button-wrap + .button-wrap {
  margin-left: 20px;
}

footer {
  padding: 50px 30px;
}

.footer-items {
  display: inline-block;
  margin-bottom: 20px;
  .item {
    display: inline-block;
    & + .item {
      margin-left: 20px;
    }
    .fa-facebook-official {
      font-size: 24px;
      color: #3b5998 !important;
    }
  }
  a {
    color: @teacher_base;
    &:hover {
      text-decoration: underline;
    }
  }
}

#teach-in-weteach {
  display: inline-block;
  float: right;
  color: @teacher_base;
  &:hover {
    text-decoration: underline;
  }
}

.index-page section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#beian {
  color: #999;
  margin-left: 30px;
  li {
    display: inline-block;
    margin-right: 10px;
  }
}
#sign-in-up-header {
  min-height: 60px;
  background-color: #00b900;
}
.sign-up {
  padding-top: 50px;
}

form {
  width: 256px;
  margin: 0 auto;
}
.submit-form {
  width: 100%;
}
.child-info-caption {
  text-align: center;
  padding-top: 50px;
  font-weight: normal;
  color: #333;
}
#gender-caption {
  margin-bottom: 20px;
  margin-top: 20px;
}
.parent-homepage-header {
  width: 100%;
  height: 60px;
  background-color: @teacher_base;
}
.sign-in form {
  padding-top: 50px;
}
.t-activate-email {
  color: #666;
  font-size: 20px;
  text-align: center;
  padding: 100px 0;
  p + p {
    margin-top: 20px;
  }
}

.typeahead {
  position: relative;
  .typeahead-selector {
    width: 100%;
    padding: 20px 0;
    border: 1px solid rgb(224, 224, 224);
    border-top: 0;
    position: absolute;
    z-index: 100;
    background-color: white;
    a {
      padding-left: 20px;
      padding-right: 20px;
      color: #333;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
    li {
      padding: 3px 0;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}

#education-experience-caption {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.298039);
}
.t-edu-form-wrap {
  width: 256px;
  margin: 0 auto;
}
.t-avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.t-info-caption {
  margin-top: 100px;
  margin-bottom: 100px;
}
.brand a {
  display: inline-block;
  line-height: 60px;
}
.input-new-email {
  padding-top: 100px;
  padding-bottom: 100px;
}
.t-activate-email .fa-check-circle {
  font-size: 50px;
  color: @teacher_base;
}
.verify-your-email {
  h1 {
    height: 70px;
  }
  .fa-check-circle {
    font-size: 50px;
    color: @teacher_base;
    margin-right: 10px;
  }
}
.t-homepage {
  .profile-data {
    .profile-meta-data {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.teacher-sign-in {
  padding-top: 100px;
  padding-bottom: 50px;
}
.t-sign-up {
  .teacher-sign-in();
}
.forget-password {
  .teacher-sign-in();
}
.dialog-button {
  & + & {
    margin-left: 20px;
  }
}
.privacy-content {
  h2, h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333;
  }
  h4 {
    margin: 10px 0;
    color: #333;
  }
  p, li {
    line-height: 1.7;
  }
  p + p {
    margin-bottom: 10px;
  }
}
.primary-color {
  color: @teacher_base;
}
.primary-bg {
  background-color: @teacher_base;
}
.contact-item {
  display: inline-block;
  vertical-align: top;
  .fa {
    font-size: 24px;
    margin-right: 5px;
    color: @teacher_base;
  }
  a {
    font-weight: 200;
    color: #333;
    &:hover {
      text-decoration: underline;
    }
  }
  & + .contact-item {
    margin-left: 20px;
  }
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.show-inline {
  display: inline-block !important;
}

.welcomeDialog {
  padding-top: 0 !important;
}
.welcomeBody {
  max-height: 100% !important;
}

.guide-image-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
  &:hover {
    color: #bbb;
  }
  font-size: 80px;
}
.back-arrow {
  left: 20px;
  .guide-image-arrow();
}
.next-arrow {
  right: 20px;
  .guide-image-arrow();
  text-align: right;
  .finish-btn {
    font-size: 40px;
  }
}

.t-input-new-password {
  padding-top: 100px;
  padding-bottom: 100px;
}

.vertical-line {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 30px;
  vertical-align: middle;
}

//  custom styles for react-select Component.

.Select {
  cursor: pointer;
}

.Select-control {
  .Select-input {
    input {
      height: 16px !important;
    }
  }
}

.is-focused:not(.is-open) > .Select-control {
  border-color: @teacher_base !important;
}
