.step-to-sign-up {
  background-color: @shallow_base_color;
  padding-bottom: 100px;
  .icon-color {
    color: #75c4ff;
    font-size: 24px;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
  .stepper-wrap {
    // width: 960px;
    margin: 0 auto;
    margin-top: 60px;
    .step-content {
      // margin: 0 16px;
      padding-left: 74px;
      padding-right: 74px;
      background-color: #fff;
      .content {
        margin: 0 16px;
        padding-top: 40px;
        padding-bottom: 100px;
        .basic-info {
          .icon-wrap {
            display: inline-block;
            margin-right: 14px;
            line-height: 24px;
            text-align: center;
            height: 72px;
            width: 20px;
            vertical-align: top;
            .fa {
              .icon-color();
              margin-top: 35px;
            }
          }
          .vertical-line {
            display: inline-block;
            border-right: 1px solid #ddd;
            height: 30px;
            vertical-align: middle;
          }
          .meta-data-picture {
            .meta-data {
              width: 50%;
              float: left;
            }
            .picture {
              width: 50%;
              float: left;
              .avatar {
                width: 140px;
                height: 140px;
                margin: 0 auto;
                .t-avatar {
                  height: 100%;
                  img {
                    height: 100%;
                    border-radius: 50%;
                  }
                }
              }
            }
          }
          .education-background {
            padding-top: 50px;
            padding-bottom: 50px;
            .title {
              h1 {
                display: inline-block;
                margin-bottom: 0;
                vertical-align: middle;
                margin-right: 20px;
              }
            }
          }
        }
        .btn-group {
          display: inline-block;
        }
      }
    }
  }
}
