.one-week {
  .head-content {
    height: 54px;

    .week-title {
      margin-bottom: 0;
      margin-top: 0;
      display: inline-block;
      vertical-align: middle;
      max-width: 450px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
