.one-week {
  position: relative;
  padding-top: 30px;
  padding-left: 50px;
  .week-title {
    font-size: 36px;
    margin-left: -35px;
    .week-month {
      font-weight: 300;
    }
    .week-year {
      font-weight: 100;
      margin-left: 10px;
    }
  }
  .table-wrap {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #ddd;
  }
  .time-labels {
    position: absolute;
    margin-top: 47px;
    left: -20px;
    height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
    li {
      height: 50px;
      width: 60px;
      position: relative;
      text-align: right;
      white-space: nowrap;
      .label {
        position: absolute;
        right: 0;
        color: #ccc;
        font-weight: 200;
      }
    }
  }
  .table {
    tr {
      td {
        border: 1px solid #ddd;
      }
    }
  }
}
