.one-week {
  position: relative;
  padding-left: 50px;
  .week-title {
    font-size: 36px;
    .arrow {
      width: 16.66%;
      display: inline-block;
      cursor: pointer;
      text-align: center;
    }
    .month {
      width: 66.66%;
      display: inline-block;
      text-align: center;
    }
    .week-month {
      font-weight: 300;
    }
    .week-year {
      font-weight: 100;
      margin-left: 10px;
    }
  }
  .table-wrap {
    width: 100%;
    min-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #ddd;
  }
  .time-labels {
    position: absolute;
    margin-top: 47px;
    left: -20px;
    min-height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    li {
      height: 50px;
      width: 60px;
      position: relative;
      text-align: right;
      white-space: nowrap;
      .label {
        position: absolute;
        right: 0;
        color: #ccc;
        font-weight: 200;
      }
    }
  }
  .table {
    tr {
      td {
        border: 1px solid #ddd;
        height: 50px !important;
        cursor: pointer;
        .unselected {
          display: none;
          color: #999;
        }
        .star-wrap {
          position: relative;
          .fa-star {
            position: absolute;
            top: 14px;
            left: -15px;
            color: #fff;
            display: none;
          }
        }
        .student-name {
          width: 100%;
        }
      }
    }
  }
  .save {
    padding-top: 20px;
  }
}
