.one-week {
  .head-content {
    height: 54px;
    .week-title {
      margin-bottom: 0;
      margin-top: 0;
      display: inline-block;
      vertical-align: middle;

      max-width: 450px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.guide-arrow {
  line-height: 480px;
  width: 48px;
  font-size: 48px;
  color: #ddd;
  &:hover {
    color: #bbb;
  }
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.back-arrow {
  .guide-arrow();
}

.next-arrow {
  .guide-arrow();
  text-align: right;
}
