{
  "rules": {
    "max-empty-lines": 1,
    "no-eol-whitespace": [ true, ignore: ["empty-lines"] ],
    "selector-list-comma-newline-after": "never-multi-line"
  },
  "extends": "stylelint-config-standard"
}
