
.icon {
  background-image: url('/images/sprite.png');
}

.icon-down-arrow {
  background-position: -0px -0px;
  width: 46px;
  height: 46px;
}
.icon-left-arrow {
  background-position: -0px -46px;
  width: 62px;
  height: 62px;
}
.icon-doubt {
  background-position: -0px -108px;
  width: 100px;
  height: 100px;
}
.icon-Fun {
  background-position: -0px -208px;
  width: 100px;
  height: 100px;
}
.icon-technology {
  background-position: -0px -308px;
  width: 100px;
  height: 100px;
}
.icon-suitcase {
  background-position: -0px -408px;
  width: 100px;
  height: 100px;
}
.icon-time {
  background-position: -0px -508px;
  width: 100px;
  height: 100px;
}
.icon-Community {
  background-position: -0px -608px;
  width: 100px;
  height: 100px;
}
.icon-shen-qing {
  background-position: -0px -708px;
  width: 100px;
  height: 100px;
}
.icon-Leisure {
  background-position: -0px -808px;
  width: 100px;
  height: 100px;
}
.icon-Professional- {
  background-position: -0px -908px;
  width: 100px;
  height: 100px;
}
.icon-money {
  background-position: -0px -1008px;
  width: 100px;
  height: 100px;
}
.icon-hallette {
  background-position: -0px -1108px;
  width: 155px;
  height: 155px;
}
.icon-dialogue-left {
  background-position: -0px -1263px;
  width: 858px;
  height: 178px;
}
.icon-dialogue-right {
  background-position: -0px -1441px;
  width: 858px;
  height: 178px;
}
.icon-Paul-Clutterbuck {
  background-position: -0px -1619px;
  width: 184px;
  height: 184px;
}
.icon-Patty-Harte {
  background-position: -0px -1803px;
  width: 184px;
  height: 184px;
}
.icon-people {
  background-position: -0px -1987px;
  width: 200px;
  height: 200px;
}
.icon-computer {
  background-position: -0px -2187px;
  width: 200px;
  height: 200px;
}
.icon-book {
  background-position: -0px -2387px;
  width: 200px;
  height: 200px;
}
.icon-play {
  background-position: -0px -2587px;
  width: 369px;
  height: 323px;
}
.icon-four-persons {
  background-position: -0px -2910px;
  width: 369px;
  height: 323px;
}
.icon-learning {
  background-position: -0px -3233px;
  width: 369px;
  height: 323px;
}
.icon-plant-tree {
  background-position: -0px -3556px;
  width: 270px;
  height: 360px;
}
.icon-connect {
  background-position: -0px -3916px;
  width: 270px;
  height: 360px;
}
.icon-drink {
  background-position: -0px -4276px;
  width: 270px;
  height: 360px;
}
.icon-love {
  background-position: -0px -4636px;
  width: 270px;
  height: 360px;
}
.icon-horse {
  background-position: -0px -4996px;
  width: 469px;
  height: 373px;
}
.icon-banner {
  background-position: -0px -5369px;
  width: 655px;
  height: 373px;
}
.icon-circle {
  background-position: -0px -5742px;
  width: 600px;
  height: 600px;
}
